@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.font1 {
  font-family: "Raleway", sans-serif !important;
  font-size: 48px;
}

h1 {
  text-align: center;
}

.img_ad_size {
  height: 700px;
  width: 1800px;
}
.img_ad_size1 {
  height: 800px;
  width: 2050px;
}

.img_ad_size2 {
  height: 250px;
  width: 800px;
}
.img_ps_buy_size1 {
  height: 500px;
  width: 500px;
}

.home-game-card-inside {
  margin-left: 150px;
  margin-top: 200px;
}
