<!-- console-ad-card-->
<div class="card text-white">
  <img
    src="./assets/Pics_and_PNGS/6cv1fj2l.png"
    class="card-img img_ad_size1"
    alt="..."
  />

  <div class="card-img-overlay">
    <div class="text-light">
      <h1 class="card-title">Play Station Gaming <br />Consoles</h1>
      <p class="card-text">
        For players, movie buffs, TV lovers and music fans — PlayStation® has
        got everything you need.
      </p>
    </div>
  </div>
</div>

<!--Buy console-->
<div class="container-fluid row justify-content-center mt-5">
  <div class="col-10 mb-5">
    <h1>Play Station 4</h1>
    <h5>
      With PS4, gaming becomes a lot more power packed. Ultra-fast processors,
      high-performance system, real-time game sharing, remote play and lots more
      makes it the ultimate companion device.
    </h5>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <div class="col-5">
      <div>
        <img
          src="./assets/Pics_and_PNGS/pngegg (2).png"
          class="card-img img_ps_buy_size1"
          alt="..."
        />
        <h2 class="text-info">PlayStation®4</h2>
        <h5>Incredible games live on PS4, with 500GB or 1TB storage.</h5>
        <h6 class="card-text">Vertical stand sold separately</h6>
      </div>
    </div>
    <div class="col-4">
      <div>
        <img
          src="./assets/Pics_and_PNGS/pngegg (2).png"
          class="card-img img_ps_buy_size1"
          alt="..."
        />

        <h2 class="text-info">PlayStation®4 PRO</h2>
        <h5>4K-gaming and entertainment with vibrant HDR1.</h5>
        <h6 class="card-text">Vertical stand sold separately</h6>
      </div>
    </div>
  </div>
</div>

<!--Bundle console buy-->

<div class="row">
  <div class="col-6 mb-3 Headin-pos">
    <h1>Bundle Offers</h1>
  </div>
</div>
<div
  id="carouselExampleFade"
  class="carousel slide carousel-dark carousel-fade"
>
  <div class="carousel-inner container jd-flex justify-content-center">
    <div class="carousel-item active d-flex">
      <div class="card" style="width: 50rem">
        <img
          src="./assets/Pics_and_PNGS/9o2gedkc.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4>PS 4 1TB Mega pack Bundle with three game CDs</h4>
          <p class="card-text">
            Bundle Price : 29,990/- (including all prices and taxed)
          </p>
          <button class="btn btn-outline-primary">Buy</button>
        </div>
      </div>
      <div class="card" style="width: 40rem">
        <img
          src="./assets/Pics_and_PNGS/k7jjgtjn.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4>PS 4 Pro with Gamma Chassis 1TB</h4>
          <p class="card-text">
            Bundle Price : 38,710/- (including all prices and taxed)
          </p>
          <button class="btn btn-outline-primary">Buy</button>
        </div>
      </div>
    </div>
    <div class="carousel-item d-flex">
      <div class="card" style="width: 40rem">
        <img
          src="./assets/Pics_and_PNGS/k7jjgtjn.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4>PS 4 Pro with Gamma Chassis 1TB</h4>
          <p class="card-text">
            Bundle Price : 38,710/- (including all prices and taxed)
          </p>
          <button class="btn btn-outline-primary">Buy</button>
        </div>
      </div>
      <div class="card" style="width: 40rem">
        <img
          src="./assets/Pics_and_PNGS/9o2gedkc.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4>PS 4 1TB Mega pack Bundle with three game CDs</h4>
          <p class="card-text">
            Bundle Price : 29,990/- (including all prices and taxed)
          </p>
          <button class="btn btn-outline-primary">Buy</button>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
