.img_ps_buy_size1 {
  height: 500px;
  width: 500px;
}

.home-game-card-inside {
  margin-left: 150px;
  margin-top: 200px;
}

.corousel-inner-ht{
  height: 700px;
}

.card {
  margin-right: 100px;
}

.Headin-pos{
  margin-left: 175px;
}

