<div class="d-flex justify-content-center mb-5 mt-5">
  <div><h1>Unmissable PS4 games from PlayStation Studios</h1></div>
</div>
<diV class="container-fluid">
  <img class="game-ad-card" src="./assets/Pics_and_PNGS/x3x3ir37.png" />
</diV>

<div class="row mt-5 mb-5 justify-content-center align-items-center">
  <div class="col-5">
    <iframe
      width="750"
      height="500"
      src="https://www.youtube.com/embed/K0u_kAWLJOA?si=sx42_UGiTj3eh70R"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-5">
    <h2 class="mb-5">God of War™ Ragnarök</h2>
    <p class="mb-5">
      From Santa Monica Studio comes the sequel to the critically acclaimed God
      of War (2018). Fimbulwinter is well underway. Kratos and Atreus must
      journey to each of the Nine Realms in search of answers as Asgardian
      forces prepare for a prophesied battle that will end the world.
    </p>
    <div class="btn btn-primary">Find Out more</div>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="./assets/Pics_and_PNGS/k7jjgtjn.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
