<nav class="nav nav-underline navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="row w-100 justify-content-center">
      <div class="col-1 ">
        <a class="nav-link" aria-current="page" routerLink="/ps5home">PS5</a>
      </div>
      <div class="col-1 nav-item">
        <a class="nav-link mfont" aria-current="page" routerLink="/console"
          >Consoles</a
        >
      </div>
      <div class="col-1 nav-item">
        <a class="nav-link" aria-current="page" routerLink="/games">Games</a>
      </div>
   <!--  <div class="col-1 nav-item">
        <a class="nav-link" aria-current="page" href="#">Accesories</a>
      </div>
      <div class="col-1 nav-item">
        <a class="nav-link" aria-current="page" href="#">Beginner Guide</a>
      </div>-->
    </div>
  </div>
</nav>
